/* .container{
    width:2px;
    height:2px;
} */
/* #mychart{
    float:right;
    width:60%
}

#mychart2{
    float:left;
    width:10%
} */
.container2{
    width:40%;
    height:20%;
}
.container1{
    
    width:40%;
    height:20%;
}